body{
    margin: 0;
    padding: 0;
    background-image: url(../images/images12.jpg);
    display: block;
}
/* nav bar*/

li{
    float: left;
    display: inline-block;
    padding-right: 30px;
}
li:last-child{
    padding-right: 0px;
    padding-left: 0px;
}

li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: white;
 
}


a:hover{
    color: white;
    background-color: rgba(45, 52, 54,0.8);
    padding: 12px;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 3;
}
ul{
    height: 100%;
    background-color: #EA2027;
    list-style-type:  none;
    width: 100%;
    height: 80px;
    font-size: 40px;
    font-family: 'Rancho', cursive;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 0;
    
}

/* title */

#title{
    font-size: 90px;
    font-family: 'Rancho', cursive;
    color: white;
    background-color:rgba(45, 52, 54,0.8);
    overflow: auto;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    top: 0;
 


}

/* paragraph section */


.Title-two, h2{
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: 'Milonga', cursive;
    grid-template-rows: 100px;
    background-color: rgba(45, 52, 54,0.8);
    margin-right: 6em;
    margin-left: 6em;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.Text-Section{
    display: block;
    color: white;  
    font-family: 'Quicksand', sans-serif;  
    font-size: 30px;
    border: solid rgba(45, 52, 54,0.8) 2px;
    background-color: rgba(45, 52, 54,0.8);
    border-radius: 1em;
    padding: 3px;
    padding-top: 1px;
    margin: 18px;
}

.image-paragraph{
    float: left;
    border: 2px solid rgba(45, 52, 54,0.8);
    border-radius: 1em;
    margin-bottom: 1px;
    margin-right: 16px;
    margin-top: 34px;
    margin-left: 12px;
}
button{
    font-size: 60px;
    margin-left: 6em;
    margin-bottom: 0.1em;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    background-color: rgba(45, 52, 54,0.8);
    color: white;
}
button:hover{
    background-color: rgb(17, 18, 19);
}
.paragraph-001{
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: 'Lobster', cursive;
    background-color: rgba(45, 52, 54,0.8) ;
    margin-right: 3em;
    margin-left: 3em;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

label{
    color: white;
    font-size: 40px;

}
#form input{
    display: block;
    font-size: 34px;
    
}

#form{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3em;
    background-color: rgba(45, 52, 54,0.8);
    padding: 23px;
    font-family: 'Kaushan Script', cursive;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}