body{
    margin: 0;
}
/* header part */

    /* navigation bar */
.nav-container{
    background-color: rgba(30, 39, 46,1.0);
    height: 50px;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    /* align-items: center; */
    justify-content: space-around;
}
.nav-container ul li a{
    text-decoration: none;
    color: rgba(247, 241, 227,1.0);
    line-height: 50px;
    font-family: 'Sofia', cursive;
    font-size: 20px;
}
.nav-container ul li a:hover{
    transition-delay: 350ms;
    border-bottom: 2px solid rgba(32, 191, 107,1.0);
}



    /* Title part */
.first-title{
    background-color: rgba(32, 191, 107,1.0);
    height: 100px;
}
h1{
    margin: 0;
    color: rgba(247, 241, 227,1.0);
    text-align: center;
    padding-top: 25px;
    font-family: 'Galada', cursive;
    font-size: 40px;
    text-decoration: underline;
}

